* {
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
}

input[type] {
	margin: 20px;
	border-radius: 5px;
}

textarea {
	border: 5px ridge #999;

}

.note {
	color: red;
	background-color: yellow;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

.comments {
	background-color: white;
	max-width: 650px;
	margin: 24px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px skyblue;
}

.comments__title {
	display: flex;
	justify-content: space-around;
}

.content {
	width: 100%;
	border-radius: 5px;
	padding: 12px;
}

.btn {
	border: 5px ridge #999;
	width: 200px;
	height: 50px;
	background-color: #fff;
	font-weight: bold;
	border-radius: 5px;
	margin: 12px;
}

.btn:hover {
	background-color: black;
	color: white;
}

.comments__input {
	text-align: center;
}

.comments__card {
	display: flex;
	border: 5px ridge #999;
	border-radius: 5px;
	margin: 12px;
}

.card__avatar {
	margin: 20px;
	height: 50px;
	min-width: 50px;
	border-radius: 50%;
	background-color: skyblue;
}

.card__info {
	display: flex;
	align-items: center;
}

.card__name {
	font-size: 20px;
	font-weight: bold;
	margin: 4px 12px;
}

.card__time {
	font-size: 12px;
	color: #666;
}

.card__contents {
  word-break: break-word;
	white-space: pre-line;
	overflow: auto;
}

.hide {
	display: none;
}

.page-info {
  text-align: center;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.paginator a {
  text-decoration: none;
  color: #5c9edc;
  border: 1px solid #5c9edc;
  padding: 10px;
} 

.name {
	font-size: 20px;
	margin-right: 20px;
}